.artist {
  min-height: 25rem;
  padding: 2rem 1.5rem;
}

.artist h2 {
  font-size: 3rem;
  color: #2c2d51;
  margin-bottom: 1rem;
}

.artist1 {
  padding: 1rem;
}

.artist1 img {
  margin: 1.5rem;
}
